@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-milk text-black text-base font-serif leading-normal;
}

a {
	@apply text-black no-underline;

	box-shadow: inset 0 -3px rgba( config('colors.blueberry'), 0.35 );
	transition: all 350ms ease-in;
}

code,
pre,
kbd,
tt {
	@apply font-mono text-sm;
}

a:hover,
a:focus {
	box-shadow: inset 0 -15px rgba( config('colors.blueberry'), 0.35 );
}

/** Forms **/
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@apply inline-block bg-milk border-8 px-4 py-2;

	border-top-color: config('colors.milk-light');
	border-bottom-color: config('colors.milk-darkest');
	border-left-color: config('colors.milk-lighter');
	border-right-color: config('colors.milk-darker');
}

button:hover, button:focus,
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus {
	@apply bg-milk-dark;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
	@apply bg-milk-dark;

	border-top-color: config('colors.milk-darkest');
	border-bottom-color: config('colors.milk-light');
	border-left-color: config('colors.milk-darker');
	border-right-color: config('colors.milk-lighter');
}

/** Layout **/
.wrap {
	@apply my-0 mx-auto border-4;

	width: 90%;
	background-color: rgba( config('colors.milk'), 0.85 );
	border-top-color: config('colors.milk-light');
	border-bottom-color: config('colors.milk-darker');
	border-left-color: config('colors.milk-lighter');
	border-right-color: config('colors.milk-dark');
}

@screen lg {
	.wrap {
		max-width: 880px;
	}
}

@screen xl {
	.wrap {
		max-width: 960px;
	}
}

/** Header **/
.site-header .wrap {
	@apply border-t-0;
}

.site-header a {
	@apply shadow-none;

	color: inherit;
}

.site-header a:hover,
.site-header a:focus {
	@apply underline shadow-none;
}

/** Menu **/
.nav-primary {
	@apply leading-tight;
}

.nav-primary .wrap {
	@apply border-b-0 p-4;
}

.nav-primary a {
	@apply shadow-none;

	color: inherit;
}

.nav-primary a:hover,
.nav-primary a:focus {
	@apply underline shadow-none;
}

.nav-primary ul {
	@apply hidden flex-wrap;
}

.nav-primary.menu-active ul {
	@apply flex;
}

.nav-primary ul ul {
	@apply block;
}

.nav-primary li {
	flex-basis: 100%;
	font-size: 0.9em;
}

@screen md {
	.nav-primary li {
		flex-basis: 50%;
	}
}

@screen lg {
	.nav-primary ul {
		@apply flex;
	}

	.nav-primary li {
		flex-basis: 25%;
	}
}

.content {
	overflow-wrap: break-word;
	hyphens: auto;
}
