@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-milk text-black text-base font-serif leading-normal;

	background-image: url( 'dist/images/myrtille-bg.png' );
	background-size: 100%;
	background-repeat: repeat;
}

a {
	@apply text-black no-underline;

	box-shadow: inset 0 -3px rgba( config('colors.blueberry'), 0.35 );
	transition: all 350ms ease-in;
}

a:hover,
a:focus {
	box-shadow: inset 0 -15px rgba( config('colors.blueberry'), 0.35 );
}

p {
	@apply mb-4;
}

code,
pre,
kbd,
tt {
	@apply font-mono text-sm;
}

kbd, tt {
	@apply bg-black text-milk;

	padding: 2px;
}

ul, ol {
	@apply my-2 pl-4;
}

ul ul,
ul ol,
ol ul,
ol ol {
	@apply my-0 pl-4;
}

dl {
	@apply my-2;
}

dt {
	@apply font-bold my-1;
}

blockquote {
	@apply font-mono text-sm my-2;
}

table {
	@apply border border-milk-darker my-2;

	border-collapse: collapse;
}

th, td {
	@apply border border-milk-darker p-1;
}

address {
	@apply italic my-2;
}

abbr[title],
acronym {
	@apply border-b border-dashed border-milk-darkest;
}

ins,
var {
	@apply bg-milk-dark no-underline;

	padding: 2px;
}

/** Forms **/
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@apply inline-block bg-milk border-8 px-4 py-2;

	border-top-color: config('colors.milk-light');
	border-bottom-color: config('colors.milk-darkest');
	border-left-color: config('colors.milk-lighter');
	border-right-color: config('colors.milk-darker');
}

button:hover, button:focus,
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus {
	@apply bg-milk-dark;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
	@apply bg-milk-dark;

	border-top-color: config('colors.milk-darkest');
	border-bottom-color: config('colors.milk-light');
	border-left-color: config('colors.milk-darker');
	border-right-color: config('colors.milk-lighter');
}

/** Media **/
img,
figure {
	@apply max-w-full h-auto;
}

.alignleft {
	@apply inline-block float-left mr-4 mb-4;
}

.aligncenter {
	@apply block float-none mx-auto;
}

.alignright {
	@apply inline-block float-right ml-4 mb-4;
}

.wp-caption-text {
	@apply font-mono text-right text-sm mb-4;
}

.gallery {
	@apply flex flex-wrap;
}

.gallery-item {
	flex: 0 0 100%;
}

.gallery-item img {
	@apply block mx-auto;
}

.gallery-columns-2 .gallery-item {
	flex-basis: calc( 100% / 2 );
}

.gallery-columns-3 .gallery-item {
	flex-basis: calc( 100% / 3 );
}

.gallery-columns-4 .gallery-item {
	flex-basis: calc( 100% / 4 );
}

.gallery-columns-5 .gallery-item {
	flex-basis: calc( 100% / 5 );
}

.gallery-columns-6 .gallery-item {
	flex-basis: calc( 100% / 6 );
}

.gallery-columns-7 .gallery-item {
	flex-basis: calc( 100% / 7 );
}

.gallery-columns-8 .gallery-item {
	flex-basis: calc( 100% / 8 );
}

.gallery-columns-9 .gallery-item {
	flex-basis: calc( 100% / 9 );
}

.gallery-caption {
	@apply text-center;
}

/** Layout **/
.wrap {
	@apply my-0 mx-auto p-4 border-4;

	width: 90%;
	background-color: rgba( config('colors.milk'), 0.90 );
	border-top-color: config('colors.milk-light');
	border-bottom-color: config('colors.milk-darker');
	border-left-color: config('colors.milk-lighter');
	border-right-color: config('colors.milk-dark');
}

@screen lg {
	.wrap {
		max-width: 880px;
	}
}

@screen xl {
	.wrap {
		max-width: 960px;
	}
}

/** Header **/
.site-header .wrap {
	@apply border-t-0;
}

.site-header a {
	@apply shadow-none;

	color: inherit;
}

.site-header a:hover,
.site-header a:focus {
	@apply underline shadow-none;
}

/** Menu **/
.nav-primary {
	@apply leading-tight;
}

.nav-primary .wrap {
	@apply border-b-0;
}

.nav-primary a {
	@apply shadow-none;

	color: inherit;
}

.nav-primary a:hover,
.nav-primary a:focus {
	@apply underline shadow-none;
}

.nav-primary ul {
	@apply hidden flex-wrap;
}

.nav-primary.menu-active ul {
	@apply flex;
}

.nav-primary ul ul {
	@apply block;
}

.nav-primary li {
	flex-basis: 100%;
	font-size: 0.9em;
}

@screen md {
	.nav-primary li {
		flex-basis: 50%;
	}
}

@screen lg {
	.nav-primary ul {
		@apply flex;
	}

	.nav-primary li {
		flex-basis: 25%;
	}
}

/** Navigation **/
.archive-pagination ul {
	@apply list-reset flex flex-wrap items-center;
}

@screen lg {
	.archive-pagination ul {
		@apply justify-between my-4;
	}
}

.archive-pagination li {
	@apply flex-1 text-center;
}

.archive-pagination .pagination-previous,
.archive-pagination .pagination-next {
	@apply mx-1;

	flex-basis: 100%;
}

@screen lg {
	.archive-pagination .pagination-previous,
	.archive-pagination .pagination-next {
		@apply m-0 flex-auto;
	}
}

.comments-pagination .pagination-previous,
.archive-pagination .pagination-previous {
	@apply text-left;
}

.comments-pagination .pagination-next,
.archive-pagination .pagination-next {
	@apply text-right;
}

.comments-pagination a,
.archive-pagination a {
	@apply inline-block bg-milk border-4 px-2 py-1 no-underline;

	border-top-color: config('colors.milk-light');
	border-bottom-color: config('colors.milk-darkest');
	border-left-color: config('colors.milk-lighter');
	border-right-color: config('colors.milk-darker');
	box-shadow: none;
}

.comments-pagination a:hover, .comments-pagination:focus,
.archive-pagination a:hover, .archive-pagination a:focus {
	@apply bg-milk-dark;
}

.comments-pagination a:active,
.archive-pagination a:active {
	@apply bg-milk-dark;

	border-top-color: config('colors.milk-darkest');
	border-bottom-color: config('colors.milk-light');
	border-left-color: config('colors.milk-darker');
	border-right-color: config('colors.milk-lighter');
	box-shadow: none;
}

.comments-pagination,
.prev-next-pagination {
	@apply flex flex-wrap;
}

.comments-pagination .alignleft,
.comments-pagination .alignleft,
.prev-next-pagination .alignleft,
.prev-next-pagination .alignright {
	@apply float-none m-0;
}

.comments-pagination .pagination-previous,
.comments-pagination .pagination-next,
.prev-next-pagination .pagination-previous,
.prev-next-pagination .pagination-next {
	@apply mx-1;

	flex-basis: 100%;
}

@screen lg {
	.comments-pagination .pagination-previous,
	.comments-pagination .pagination-next,
	.prev-next-pagination .pagination-previous,
	.prev-next-pagination .pagination-next {
		@apply m-0 flex-auto;
	}
}

/** Content **/
.content {
	padding-top: 80px;
	overflow-wrap: break-word;
	hyphens: auto;
}

.single .content {
	@apply p-0;
}

.entry-footer a {
	color: inherit;
}

/** Comments **/
.comment-list {
	@apply list-reset;
}

.comment-list .children {
	@apply list-reset;
}

@screen lg {
	.comment-list .children {
		@apply pl-8;
	}
}

.comment-footer a {
	@apply inline-block bg-milk border-8 px-2 py-1 no-underline;

	border-top-color: config('colors.milk-light');
	border-bottom-color: config('colors.milk-darkest');
	border-left-color: config('colors.milk-lighter');
	border-right-color: config('colors.milk-darker');
	box-shadow: none;
}

.comment-footer a:hover, .comment-footer a:focus,
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus {
	@apply bg-milk-dark;
}

.comment-footer a:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
	@apply bg-milk-dark;

	border-top-color: config('colors.milk-darkest');
	border-bottom-color: config('colors.milk-light');
	border-left-color: config('colors.milk-darker');
	border-right-color: config('colors.milk-lighter');
	box-shadow: none;
}
